.containerStyle {
  position: relative;
  padding: 4rem;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #29306b;
  overflow: hidden; /* Ensure skewed element doesn't overflow the container */
}

.imageStyle {
  display: none;
}

@media (min-width: 640px) {
  .imageStyle {
    display: block;
    position: relative;
    z-index: 2; /* Ensure the image is above the skewed part */
  }
}

.skewedElementStyle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  background-color: #29306b;
  transform: skewX(-20deg);
  transform-origin: top right;
  z-index: 1; /* Ensure the skewed part is above other elements */
}
